{{- range concat .Values.providers .Values.extraProviders }}
{{- if not (eq (.enabled | toString) "false") }}
---
apiVersion: pkg.crossplane.io/v1beta1
kind: DeploymentRuntimeConfig
metadata:
  name: {{ .name }}
  namespace: {{ $.Values.package.namespace }}
  labels:
    {{- include "crossplane-providers.labels" $ | nindent 4 }}
spec:
  deploymentTemplate:
    metadata:
      name: {{ .name }}
    spec:
      replicas: 1
      selector: {}
      template:
        spec:
          containers:
            - name: package-runtime
              {{- if .debug }}
              args:
                - --debug
              {{- end }}
              resources:
                {{- if .resources }}
                {{- toYaml .resources | nindent 16 }}
                {{- else }}
                limits:
                  memory: 560Mi
                requests:
                  cpu: 40m
                  memory: 320Mi
                {{- end }}
  {{- if or (.roleArn) (and (.managedPolicyArns) (gt (len .managedPolicyArns) 0)) (.policy) }}
  serviceAccountTemplate:
    metadata:
      annotations:
        {{- if .roleArn }}
        eks.amazonaws.com/role-arn: {{ .roleArn }}
        {{- else }}
        eks.amazonaws.com/role-arn: arn:aws:iam::{{ $.Values.environmentConfig.accountId }}:role/{{ $.Values.environmentConfig.resourcePrefix }}-{{ .name }}
        {{- end }}
  {{- end }}
{{- end }}
{{- end }}