{{- if or .Values.loadbalancer.enabled .Values.ingress.enabled }}
{{/*
Validation: Ensure environmentConfig.clusterFqdn is provided (required for TLS certificates when LB or Ingress is enabled)
*/}}
{{- if not .Values.environmentConfig.clusterFqdn }}
{{- fail "ERROR: environmentConfig.clusterFqdn must be provided for TLS certificate generation." }}
{{- end }}

apiVersion: cert-manager.io/v1
kind: Certificate
metadata:
  name: otlp-gateway-tls
  namespace: {{ include "otlp-gateway.namespace" . }}
spec:
  secretName: otlp-gateway-tls-secret
  issuerRef:
    name: letsencrypt-prod
    kind: ClusterIssuer
  dnsNames:
    - {{ .Values.environmentConfig.host }}.{{ .Values.environmentConfig.clusterFqdn }}
{{- end }}