{{- if .Values.crossplaneProvider.enabled }}
{{- $tenants := .Values.tenants | default .Values.grafana.tenants }}
{{- range $tenants }}
---
apiVersion: tenant.orgmapper.crossplane.io/v1alpha1
kind: Tenant
metadata:
  name: {{ .name }}
  annotations:
    argocd.argoproj.io/sync-wave: "4"
    argocd.argoproj.io/sync-options: SkipDryRunOnMissingResource=true
spec:
  forProvider:
    tenantId: {{ .tenantId }}
    orgId: {{ .orgId | quote }}
    {{- with .viewerGroups }}
    viewerGroups:
      {{- toYaml . | nindent 6 }}
    {{- end }}
    {{- with .editorGroups }}
    editorGroups:
      {{- toYaml . | nindent 6 }}
    {{- end }}
    {{- with .adminGroups }}
    adminGroups:
      {{- toYaml . | nindent 6 }}
    {{- end }}
    {{- with .retention }}
    retention:
      {{- toYaml . | nindent 6 }}
    {{- end }}
  providerConfigRef:
    name: default
    kind: ProviderConfig
{{- end }}
{{- end }}
