{{- if .Values.grafanaDatasource.enabled }}
apiVersion: batch/v1
kind: Job
metadata:
  name: {{ include "masterdata-datasource.resourcePrefix" . }}-grafana-ds-create
  namespace: {{ .Release.Namespace }}
  annotations:
    helm.sh/hook: post-install,post-upgrade
    helm.sh/hook-weight: "10"
    helm.sh/hook-delete-policy: before-hook-creation
spec:
  backoffLimit: 3
  ttlSecondsAfterFinished: 300
  template:
    spec:
      serviceAccountName: {{ include "masterdata-datasource.resourcePrefix" . }}-grafana-ds-sa
      restartPolicy: OnFailure
      securityContext:
        runAsNonRoot: true
        runAsUser: 1000
        runAsGroup: 1000
        fsGroup: 1000
        seccompProfile:
          type: RuntimeDefault
      containers:
        - name: create-datasource
          image: alpine/k8s:1.29.2
          imagePullPolicy: IfNotPresent
          securityContext:
            allowPrivilegeEscalation: false
            readOnlyRootFilesystem: true
            capabilities:
              drop:
                - ALL
          resources:
            requests:
              cpu: 100m
              memory: 256Mi
            limits:
              memory: 512Mi
          env:
            - name: RESOURCE_PREFIX
              value: {{ include "masterdata-datasource.resourcePrefix" . }}
            - name: NAMESPACE
              value: {{ .Release.Namespace }}
            - name: PG_HOST
              valueFrom:
                secretKeyRef:
                  name: {{ include "masterdata-datasource.resourcePrefix" . }}-masterdata-connection-details
                  key: host
            - name: PG_PORT
              valueFrom:
                secretKeyRef:
                  name: {{ include "masterdata-datasource.resourcePrefix" . }}-masterdata-connection-details
                  key: port
            - name: PG_USERNAME
              valueFrom:
                secretKeyRef:
                  name: {{ include "masterdata-datasource.resourcePrefix" . }}-masterdata-connection-details
                  key: username
            - name: PG_PASSWORD
              valueFrom:
                secretKeyRef:
                  name: {{ include "masterdata-datasource.resourcePrefix" . }}-masterdata-password
                  key: password
          command:
            - /bin/sh
            - -c
            - |
              set -e
              
              echo "Patching Secret with actual password..."
              kubectl patch secret ${RESOURCE_PREFIX}-masterdata-grafana-ds-secret \
                --namespace=${NAMESPACE} \
                --type='strategic' \
                -p "{\"stringData\":{\"secureJsonData\":\"{\\\"password\\\":\\\"${PG_PASSWORD}\\\"}\"}}"
              
              echo "Patching DataSource with actual connection details..."
              kubectl patch datasources.oss.grafana.crossplane.io ${RESOURCE_PREFIX}-masterdata-postgres \
                --type='merge' \
                -p "{\"spec\":{\"forProvider\":{\"url\":\"${PG_HOST}:${PG_PORT}\",\"username\":\"${PG_USERNAME}\"}}}"
              
              echo "Done!"
---
apiVersion: v1
kind: ServiceAccount
metadata:
  name: {{ include "masterdata-datasource.resourcePrefix" . }}-grafana-ds-sa
  namespace: {{ .Release.Namespace }}
  annotations:
    helm.sh/hook: post-install,post-upgrade
    helm.sh/hook-weight: "0"
    helm.sh/hook-delete-policy: before-hook-creation
---
apiVersion: rbac.authorization.k8s.io/v1
kind: Role
metadata:
  name: {{ include "masterdata-datasource.resourcePrefix" . }}-grafana-ds-role
  namespace: {{ .Release.Namespace }}
  annotations:
    helm.sh/hook: post-install,post-upgrade
    helm.sh/hook-weight: "0"
    helm.sh/hook-delete-policy: before-hook-creation
rules:
  - apiGroups: [""]
    resources: ["secrets"]
    verbs: ["get", "create", "update", "patch"]
---
apiVersion: rbac.authorization.k8s.io/v1
kind: RoleBinding
metadata:
  name: {{ include "masterdata-datasource.resourcePrefix" . }}-grafana-ds-rolebinding
  namespace: {{ .Release.Namespace }}
  annotations:
    helm.sh/hook: post-install,post-upgrade
    helm.sh/hook-weight: "0"
    helm.sh/hook-delete-policy: before-hook-creation
subjects:
  - kind: ServiceAccount
    name: {{ include "masterdata-datasource.resourcePrefix" . }}-grafana-ds-sa
    namespace: {{ .Release.Namespace }}
roleRef:
  kind: Role
  name: {{ include "masterdata-datasource.resourcePrefix" . }}-grafana-ds-role
  apiGroup: rbac.authorization.k8s.io
---
apiVersion: rbac.authorization.k8s.io/v1
kind: ClusterRole
metadata:
  name: {{ include "masterdata-datasource.resourcePrefix" . }}-grafana-ds-clusterrole
  annotations:
    helm.sh/hook: post-install,post-upgrade
    helm.sh/hook-weight: "0"
    helm.sh/hook-delete-policy: before-hook-creation
rules:
  - apiGroups: ["oss.grafana.crossplane.io"]
    resources: ["datasources"]
    verbs: ["get", "create", "update", "patch"]
---
apiVersion: rbac.authorization.k8s.io/v1
kind: ClusterRoleBinding
metadata:
  name: {{ include "masterdata-datasource.resourcePrefix" . }}-grafana-ds-clusterrolebinding
  annotations:
    helm.sh/hook: post-install,post-upgrade
    helm.sh/hook-weight: "0"
    helm.sh/hook-delete-policy: before-hook-creation
subjects:
  - kind: ServiceAccount
    name: {{ include "masterdata-datasource.resourcePrefix" . }}-grafana-ds-sa
    namespace: {{ .Release.Namespace }}
roleRef:
  kind: ClusterRole
  name: {{ include "masterdata-datasource.resourcePrefix" . }}-grafana-ds-clusterrole
  apiGroup: rbac.authorization.k8s.io
{{- end }}
